
{% extends 'core/base.html'%}
{%block content %}
<div class=" container mt-5">
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>

    <div class="row text-center text-white mb-5">

        <div class="col-sm-4">
            <i class="fa-solid fa-palette fa-2x mb-3 i-color"></i>
            <h3>Web Design</h3>
            <p class="ss-color">Focus to build good web design that helps User' eyes and tell them where you want them to look. My main attention is to provide special offers, highlight calls to action, and help users identify buttons and clickable elements. All these things can help drive users to take the actions you want.  </p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-code fa-2x mb-3 i-color"></i>
            <h3>Web Development</h3>
            <p class="ss-color">The work involved in developing a website for the Internet (World Wide Web) or an intranet (a private network). Web development can range from developing a simple single static page of plain text to complex web applications, electronic businesses, and social network services.
.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-headset fa-2x mb-3 i-color"></i>
            <h3>Support</h3>
            <p class="ss-color">Website support requires a large range of services, focused not on one aspect of the project but on its general development</p>
        </div>
    </div>

</div>

{% endblock content%}